/*------------------------------------
    Hero
------------------------------------*/

// Hero 1
.section-hero-1 {
    .el-heading {
        .el-icon {
            margin-bottom: 20px;
        }
    }
}

// Hero 2
.section-hero-2 {
    .el-heading {
        float: right;

        .el-icon {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 768px) {
    .section-hero-2 {
        .el-heading {
            float: inherit !important;
        }
    }
}